<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookStore.mapper.TypeMapper">


    <select id="selectPageType" resultType="com.bookStore.pojo.respojo.TypeBook">
        select a.type as type,
               b.type as parentType
        from type as a,type as b where b.id = a.parentId
    </select>


</mapper>
